ORDER_SERVICE_SUBMIT_ORDER_SHEET_URI=http://localhost:8080/order-sheet
ORDER_SERVICE_SEARCH_ORDER_URI=http://localhost:8080/order
BREW_NOTIFY_BREW_COMPLETE_URI=http://localhost:8080/order/brew-completed
USER_NOTIFY_BREW_COMPLETE_URI=http://localhost:8080/user/brew-completed
AMQP_ADDRESS=amqp://localhost:5672
RABBITMQ_USER_NAME=coffeehouse
RABBITMQ_USER_PASSWORD=password